header {
  display: flex;
  flex-direction: column;
}

nav {
  align-self: flex-end;
  padding: 10px;
  font-family: 'BentonSans Regular', 'sans-serif';
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #00BFFF;
}

header .logo {
  width: 100px;
  align-self: center;
  margin-top: 10px;
}

/* iPad and up*/
@media (min-width: 768px) {
  header .logo {
    width: 200px;
  }
}

/* fonts */
@font-face {
  font-family: 'BentonSans Regular';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/BentonSans Regular.otf'); /* IE9 Compat Modes */
  src: local('BentonSans Regular'), local('BentonSans Regular'),
       url('/fonts/BentonSans Regular.otf') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/BentonSans Regular.otf') format('woff2'), /* Super Modern Browsers */
       url('/fonts/BentonSans Regular.otf') format('woff'), /* Modern Browsers */
       url('/fonts/BentonSans Regular.otf') format('truetype') /* Safari, Android, iOS */
}
