.lyftOverlay {
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(111, 110, 112, 0.96);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.lyftOverlay .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'BentonSans Thin';
}

.lyftOverlay img {
  margin: 0 auto;
}

.lyft {
  display: flex;
  font-family: 'BentonSans Thin';
  font-size: 14px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.lyftOverlay .noLyfts {
  font-family: 'BentonSans Regular';
  text-align: center;
  width: 100%;
}

.lyft .rideTypeWrapper {
  padding-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space:nowrap;
}

.lyft .rideTypeWrapper .rideType {
  margin-bottom: 2px;
}

.lyft .estimatedCost {
  padding-right: 10%;
}

.lyftOverlay button {
  width: 25%;
  height: 25px;
  border: none;
  color: white;
  background-color: #f6682F;
  border-radius: 5px;
  font-family: 'BentonSans Regular';
  padding-top: 6px;
  margin: 0 5px;
  align-self: center;
}
