.searchBar {
  display: flex;
  justify-content: center;
  max-width: 1080px;
  margin: 0 auto;
}

.searchBar input, .searchBar select {
  height: 50px;
  box-sizing: border-box;
}

.searchBar input[type='text'] {
  width: 175px;
  background-color: white;
  border: 1px lightgray solid;
  padding-left: 10px;
  font-size: 20px;
  font-family: 'BentonSans Regular';
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.searchBar input[type='text']::placeholder {
   color: lightgray;
}

.searchBar input[type='submit'] {
  width: 100px;
  background-color: #f6682F;
  -webkit-transition: background .75s;
  color: white;
  font-size: 14px;
  font-family: 'BentonSans Regular';
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
}

.searchBar input[type='submit']:hover{
  background-color: #a32e00;
  -webkit-transition: background .75s;
}

.searchBar select {
  width: 100px;
  background-color: white;
  border: 1px lightgray solid;
  padding-left: 10px;
  font-size: 15px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

.searchBar input:focus, .searchBar select:focus {
  outline: none;
  border: 1.5px #00BFFF solid;
}

/* iPad and up*/
@media (min-width: 479px) {
  .searchBar input[type='text'] {
    width: 61%;
  }

  .searchBar select {
    width: 18%;
  }

  .searchBar input[type='submit'] {
    width: 18%;
  }
}
